<div class="container">
  <div class="card">
    <div class="cards">
      <div class="cardfront">
        <div class="cardsinner">
          <div class="innerone">creditcards.name</div>
          <div class="innertwo">AXIS</div>
        </div>
        <div class="cardquote">
          <div class="innercardsdiv">
            <div>creditcards.card1</div>
            <div>creditcards.card2</div>
            <div>creditcards.card3</div>
            <div>creditcards.card4</div>
          </div>
        </div>
        <div class="cardexpdiv">creditcards.exp</div>
      </div>
      <div class="cardback">
        <div class="cardinner">
          <div class="backinner"></div>
          <div class="cvvdiv">
            <div style="font-weight:lighter">CVV</div>
            <div>creditcards.cvv</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
